# data folder
data/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
pointtopic.Rproj
geos/.DS_Store
geos/
UPC_IDBR_busprems.html
translate_geo_function/.DS_Store
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.cpg
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.dbf
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.prj
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.sbn
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.sbx
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.shp
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.shp.xml
translate_geo_function/geography-sdz2021-esri-shapefile/SDZ2021.shx
translate_geo_function/n_ire_postcodes/.DS_Store
translate_geo_function/n_ire_postcodes/n_ire_postcodes.cpg
translate_geo_function/n_ire_postcodes/n_ire_postcodes.dbf
translate_geo_function/n_ire_postcodes/n_ire_postcodes.prj
translate_geo_function/n_ire_postcodes/n_ire_postcodes.qmd
translate_geo_function/n_ire_postcodes/n_ire_postcodes.shp
translate_geo_function/n_ire_postcodes/n_ire_postcodes.shx
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.dbf
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.prj
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.sbn
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.sbx
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.shp
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.shp.xml
translate_geo_function/SOA2011_Esri_Shapefile_0/SOA2011.shx
translate_geo_function/translate_geo.R
translate_geo_function/translate_geo_uk.Rproj
BII/newBII_output2023_England.csv
BII/newBII_output2023_NIreland.csv
BII/newBII_output2023_Scotland.csv
BII/newBII_output2023_Wales.csv
BDDI/.DS_Store
BDDI/build_BDDI.R
