# data folder
data/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
pointtopic.Rproj
geos/.DS_Store
geos/LSOA_Dec_2021_Boundaries/LSOA_2021_EW_BGC.shx
geos/LSOA_Dec_2021_Boundaries/LSOA_2021_EW_BGC.shp
geos/LSOA_Dec_2021_Boundaries/LSOA_2021_EW_BGC.prj
geos/LSOA_Dec_2021_Boundaries/LSOA_2021_EW_BGC.dbf
geos/LSOA_Dec_2021_Boundaries/LSOA_2021_EW_BGC.cpg
geos/2011_oa_shp/TermsAndConditions.html
geos/2011_oa_shp/infuse_oa_lyr_2011.shx
geos/2011_oa_shp/infuse_oa_lyr_2011.shp
geos/2011_oa_shp/infuse_oa_lyr_2011.prj
geos/2011_oa_shp/infuse_oa_lyr_2011.dbf
